body {
    margin: 0;
    position: relative;
    font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
    font-size: 14px;
    line-height: 2;
    background-image: url(./assets/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: auto 70%;
}

.mainpage {
    width: 72%;
    margin: auto;
}

@media screen and(max-width: 1024px) {
    .mainpage {
        width: calc(100% - 8px);
    }
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}