body {
    margin: 0;
    position: relative;
    font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
    font-size: 14px;
    line-height: 2;
    background-image: url(./assets/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: auto 70%;
    display: grid;
    grid-template-rows: 1fr auto;

    a {
        color: #3c4858;
        text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
}

.mainpage {
    width: 80%;
    margin: auto;
}

@media screen and(max-width: 1024px) {
    .mainpage {
        width: calc(100% - 8px) !important;
    }
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
@keyframes typing {
	from { width: 0 }
}

@keyframes caret {
	50% { border-right-color: transparent; }
}

.print {
	font: bold 200% Consolas;
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 80px;
	width: 10ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: .05em solid;
	animation: typing 4s steps(14),
	           caret 1s steps(1);
}